.main-container {
  display: block;
}

#status-success {
  display: none;
}

#status-failed {
  display: none;
}

#search-recipes {
  display: block;
}

#recipes {
  display: block;
}

#single-recipe {
  display: none;
}

#add-recipe {
  display: none;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}

.fa-search {
  color: black;
}

.btn-primary {
  background-color: rgba(61, 198, 36, 1);
  border-color: rgba(61, 198, 36, 1);
}

.btn-primary:hover {
  background-color: rgba(55, 181, 33, 1);
  border-color: rgba(55, 181, 33, 1);
}

table {
  table-layout: fixed;
}

.ingredient-col {
 width: 70%;
}

.amount-col {
 width: 30%;
}

.tr-primary {
  background-color: rgba(61, 198, 36, 0.35);
  cursor: pointer;
}

.tr-primary:hover {
  background-color: rgba(55, 181, 33, 0.35);
}

.tr-nothing {
  cursor: pointer;
}

.tr-nothing:hover {
  background-color: rgba(238, 238, 238, 0.35);
}

