.main-container {
  display: block;
}

#status-success {
  display: none;
}

#status-failed {
  display: none;
}

#search-recipes {
  display: block;
}

#recipes {
  display: block;
}

#single-recipe {
  display: none;
}

#add-recipes {
  display: none;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}

.fa-search {
  color: black;
}

.btn-primary {
  background-color: #3dc624;
  border-color: #3dc624;
}
.btn-primary:hover {
  background-color: #37b521;
  border-color: #37b521;
}